table{
    width:100%;
}
table{
border:1px solid black;
text-align:center;
border-collapse:collapse;
}
th,td{
    border:1px solid black;
    padding:0px;
}
h3{
    text-align:center;
}
